<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Construction Cost Estimato</title>
    <link rel="icon" type="image/jpg" href="/public/css/logo.jpg">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>
    <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
    <script type="text/javascript" src="../public/js/table_script.js"></script>
    <noscript>
        <style type="text/css">
            .pagecontainer {display:none;}
        </style>
        <div class="noscriptmsg">
            You don't have javascript enabled.  Good luck with that.
        </div>
    </noscript>
</head>
<body class="m1">
{{{body}}}
</body>
<footer>
    <p id="footer_text">Megh Vankawala (10421684), Brijesh Makani, Maulik Jajal(10421667), Rimaben Patel(10422512), Charmi Bhikadia</p>
</footer>
</html>