<div>
    <form method="post"></form>
    <table>
        <tr>
            <td><label>Project Name:</label></td>
            <td><input type="text" name="pName" id="pName"></td>
        </tr>
        <tr>
            <td><label>description:</label></td>
            <td><input type="text" name="description"  id="description"></td>
        </tr>
        <tr>
            <td><label>Start Date:</label></td>
            <td><input type="text" name="startDate"  id="startDate"></td>
        </tr>
        <tr>
            <td><label>Due Date:</label></td>
            <td><input type="text" name="due"  id="due"></td>
        </tr>
        <tr>
            <td><label>Owner:</label></td>
            <td><input type="text" name="owner"  id="owner"></td>
        </tr>
    </table>
    <input type="button" value="Save" id="save_project">
    </form>
</div>
