<div>
    <h1>Construction Cost Estimation</h1>
</div>
<div>
    <table id="profile_table">
        <tr>
            <td><label>First Name:</label></td>
            <td><input type="text" id="edit_firstname"></td>
            <td><input type="button" value="Edit"></td>
            <td><input type="button" value="Save"></td>
        </tr>
        <tr>
            <td><label>Last Name:</label></td>
            <td><input type="text" value = "rima" id="edit_lastname"></td>
            <td><input type="button" value="Edit"></td>
            <td><input type="button" value="Save"></td>
        </tr>
        <tr>
            <td><label>Password:</label></td>
            <td><input type="text" id="edit_password"></td>
            <td><input type="button" value="Edit"></td>
            <td><input type="button" value="Save"></td>

        </tr>
        <tr>
            <td><label>Confirm Password:</label></td>
            <td><input type="text" id="edit_confirmpassword"></td>
            <td><input type="button" value="Edit"></td>
            <td><input type="button" value="Save"></td>
        </tr>
        <tr>
            <td><label>Postal Code:</label></td>
            <td><input type="text" id="edit_zip"></td>
            <td><input type="button" value="Edit"></td>
            <td><input type="button" value="Save"></td>
        </tr>
        <tr>
            <td><label>Contact No:</label></td>
            <td><input type="text" id="edit_mobileno"></td>
            <td><input type="button" value="Edit"></td>
            <td><input type="button" value="Save"></td>
        </tr>
    </table>
</div>