

<div>
    <h1>Construction Cost Estimation</h1>
</div>
<div id="edit_logout">
    <label id="vendor_name">Megh Vankawala</label><br>
    <a href="/profile_estimator">Edit profile</a>
    <a href="/logout">Logout</a>
</div><br>
<label>My Projects</label>
    <a href="/a"> Add new Project</a>
</div>




